@model  Anna_Bondarenko_FinalTask.Models.Models.Enrollee

@{
    ViewBag.Title = "Сreate";
}

<div>@Html.ValidationMessage("AddFaculty", new { @class = "text-danger" })</div>
@if (Model!=null)
{
    using (Html.BeginForm("AddFaculty","Faculty"))
     {
         @Html.AntiForgeryToken()

         <div class="form-horizontal">
      
             @Html.ValidationSummary(true, "", new { @class = "text-danger" })
             <div class="form-group">
                 @if (Model.ExaminationSubjects.Count>0)
                 {
                     <h4>Examination Subjects</h4>
                     foreach (var item in Model.ExaminationSubjects)
                     {
                         <div class="form-group">
                             @Html.Label( item.Name, htmlAttributes: new { @class = "control-label col-md-3" })
                             <div class="col-lg-7">
                                 @{ Html.RenderPartial("CreateExamPartial");}
                             </div>
                         </div>
                     }
                 }
                 @if (Model.SchoolSubjects.Count>0)
                 {
                     <h4>School Subjects</h4>
                     foreach (var item in Model.SchoolSubjects)
                     {
                         <div class="form-group">
                             @Html.Label( item.Name, htmlAttributes: new { @class = "control-label col-md-3" })
                             <div class="col-lg-7">
                                 @{ Html.RenderPartial("CreateSchoolPartial");}
                             </div>
                         </div>
                     }

                 }
           
                 <div class="col-md-offset-2 col-md-10">
                     <input type="submit" value="Send" class="btn btn-PrewDetails2" />
                 </div>
             </div>
         </div>
     }

}

<div class="btn btn-partial">
    @Html.ActionLink("Back to List of Faculties", "GetFaculty", new { area = "", controller = "Faculty" })
</div>
